# ignore all __pychace__ directories, no matter where they are
__pycache__/

*.egg-info/

results/

data/*
!data/real_data_mm/
data/real_data_mm/*
!data/real_data_mm/*.npz

notebooks/*

!notebooks/paper/
!notebooks/paper/**
